<ion-view view-title="Info">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/avatar.jpeg">
        <h2>Pilot</h2>
        <p>Albert Sanchez</p>
      </div>
      <div class="item item-avatar">
        <img src="img/cetys.gif">
        <h2>School</h2>
        <p>CETYS Universidad</p>
      </div>
      <div class="item item-avatar">
        <img src="img/code.jpg">
        <h2>Code</h2>
        <p>Electron</p>
        <p>Node</p>
        <p>Ionic</p>
        <p>Angular</p>
        <p>Cylon</p>
      </div>
    </div>
  </ion-content>
</ion-view>
